/* Animation Basics */
body {
  background-color: #d8e8fa;
}

.wrapper {
  margin: 2em auto 2em auto;
  width: 350px;
  position: relative;
}

/* transform order matters */
.blue_robot {
  transform: translate(100px, 200px) skew(20deg) scale(2) rotate(45deg);
}
